<p>
  <strong>Autor:</strong>
  <p> TEMPORAL </p>
</p>
<p>
  <strong>Comentario:</strong>
  <%= comment.texto %>
</p>

<p>
  <%= link_to 'Destroy Comment',
              [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>