<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    Autor:<br>
    TEMPORAL
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>