<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% render "layouts/header" %>
<div class="">
  <%if notice %>
  <p class="notice"><%= notice %></p>
  <%end %>
  <%if alert %>
  <p class="alert"><%= alert %></p>
  <%end %>
</div>
